<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>mainAccessControler</servlet-name>
        <servlet-class>com.servlet.login.mainAccessControler</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminAddUser</servlet-name>
        <servlet-class>com.servlet.login.adminAddUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentRegistation</servlet-name>
        <servlet-class>com.servlet.login.StudentRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>adminSearchUser</servlet-name>
        <servlet-class>com.servlet.login.adminSearchUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StudentUpdate</servlet-name>
        <servlet-class>com.servlet.login.StudentUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viweStudentProfile</servlet-name>
        <servlet-class>com.servlet.login.viweStudentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>searchStudent</servlet-name>
        <servlet-class>com.servlet.login.searchStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegistation</servlet-name>
        <servlet-class>com.servlet.login.StaffRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOut</servlet-name>
        <servlet-class>com.servlet.login.LogOut</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FogetPassword</servlet-name>
        <servlet-class>com.servlet.login.FogetPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePassword</servlet-name>
        <servlet-class>com.servlet.login.ChangePassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RCI_Registation</servlet-name>
        <servlet-class>com.servlet.login.RCI_Registation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmRegistation</servlet-name>
        <servlet-class>com.servlet.login.AdmRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OBRegistation</servlet-name>
        <servlet-class>com.servlet.login.OBRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PrfRegistation</servlet-name>
        <servlet-class>com.servlet.login.PrfRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TssRegistation</servlet-name>
        <servlet-class>com.servlet.login.TssRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AccRegistation</servlet-name>
        <servlet-class>com.servlet.login.AccRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PubRegisrarion</servlet-name>
        <servlet-class>com.servlet.login.PubRegisrarion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PbiRegistation</servlet-name>
        <servlet-class>com.servlet.login.PbiRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TsiRegistation</servlet-name>
        <servlet-class>com.servlet.login.TsiRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EbiRegistation</servlet-name>
        <servlet-class>com.servlet.login.EbiRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OpiRegistation</servlet-name>
        <servlet-class>com.servlet.login.OpiRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StiRegistation</servlet-name>
        <servlet-class>com.servlet.login.StiRegistation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmResetMemberPassword</servlet-name>
        <servlet-class>com.servlet.login.AdmResetMemberPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdmDeleteMember</servlet-name>
        <servlet-class>com.servlet.login.AdmDeleteMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viweParentProfile</servlet-name>
        <servlet-class>com.servlet.login.viweParentProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viweStaffProfile</servlet-name>
        <servlet-class>com.servlet.login.viweStaffProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viweOldBoyProfile</servlet-name>
        <servlet-class>com.servlet.login.viweOldBoyProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viwePrefectProfile</servlet-name>
        <servlet-class>com.servlet.login.viwePrefectProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viweTSSProfile</servlet-name>
        <servlet-class>com.servlet.login.viweTSSProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viweOPSProfile</servlet-name>
        <servlet-class>com.servlet.login.viweOPSProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStudentData</servlet-name>
        <servlet-class>com.servlet.login.updateStudentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>admUpdateUser</servlet-name>
        <servlet-class>com.servlet.login.admUpdateUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUpdateStudent</servlet-name>
        <servlet-class>com.servlet.login.SubmitUpdateStudent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateParentData</servlet-name>
        <servlet-class>com.servlet.login.updateParentData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUpdateStaff</servlet-name>
        <servlet-class>com.servlet.login.SubmitUpdateStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUpdateParent</servlet-name>
        <servlet-class>com.servlet.login.SubmitUpdateParent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUpdateOldBoy</servlet-name>
        <servlet-class>com.servlet.login.SubmitUpdateOldBoy</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViwePrfProfile</servlet-name>
        <servlet-class>com.servlet.login.ViwePrfProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viweTSStuProfile</servlet-name>
        <servlet-class>com.servlet.login.viweTSStuProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viweOUProfile</servlet-name>
        <servlet-class>com.servlet.login.viweOUProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addExam</servlet-name>
        <servlet-class>com.servlet.login.addExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExam</servlet-name>
        <servlet-class>com.servlet.login.UpdateExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUpdateExam</servlet-name>
        <servlet-class>com.servlet.login.SubmitUpdateExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExam</servlet-name>
        <servlet-class>com.servlet.login.DeleteExam</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addExamResult</servlet-name>
        <servlet-class>com.servlet.login.addExamResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateExamResults</servlet-name>
        <servlet-class>com.servlet.login.UpdateExamResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUpdateExamResult</servlet-name>
        <servlet-class>com.servlet.login.SubmitUpdateExamResult</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteExamResults</servlet-name>
        <servlet-class>com.servlet.login.DeleteExamResults</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addService</servlet-name>
        <servlet-class>com.servlet.login.addService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServiceForStaff</servlet-name>
        <servlet-class>com.servlet.login.addServiceForStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addServiceForPrefect</servlet-name>
        <servlet-class>com.servlet.login.addServiceForPrefect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deleteService</servlet-name>
        <servlet-class>com.servlet.login.deleteService</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServiceForPrefect</servlet-name>
        <servlet-class>com.servlet.login.RemoveServiceForPrefect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveServiceForStaff</servlet-name>
        <servlet-class>com.servlet.login.RemoveServiceForStaff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addPrfBehaviorReport</servlet-name>
        <servlet-class>com.servlet.login.addPrfBehaviorReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemovePrfBehaviorReport</servlet-name>
        <servlet-class>com.servlet.login.RemovePrfBehaviorReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addStudentBehaviorReport</servlet-name>
        <servlet-class>com.servlet.login.addStudentBehaviorReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStudentBehaviorReport</servlet-name>
        <servlet-class>com.servlet.login.RemoveStudentBehaviorReport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addClassInfor</servlet-name>
        <servlet-class>com.servlet.login.addClassInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeClassInfor</servlet-name>
        <servlet-class>com.servlet.login.removeClassInfor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addcomitty</servlet-name>
        <servlet-class>com.servlet.login.addcomitty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removecomitty</servlet-name>
        <servlet-class>com.servlet.login.removecomitty</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addComittyMember</servlet-name>
        <servlet-class>com.servlet.login.addComittyMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeComittyMember</servlet-name>
        <servlet-class>com.servlet.login.removeComittyMember</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addComittyDissison</servlet-name>
        <servlet-class>com.servlet.login.addComittyDissison</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeComittyDissison</servlet-name>
        <servlet-class>com.servlet.login.removeComittyDissison</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addCourse</servlet-name>
        <servlet-class>com.servlet.login.addCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeCourse</servlet-name>
        <servlet-class>com.servlet.login.removeCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateCourse</servlet-name>
        <servlet-class>com.servlet.login.updateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitUpdateCourse</servlet-name>
        <servlet-class>com.servlet.login.SubmitUpdateCourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStudentforTSScourse</servlet-name>
        <servlet-class>com.servlet.login.AddStudentforTSScourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeStudentforTSScourse</servlet-name>
        <servlet-class>com.servlet.login.removeStudentforTSScourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateStudentforTSScourse</servlet-name>
        <servlet-class>com.servlet.login.updateStudentforTSScourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SubmitStudentforTSScourseUpdate</servlet-name>
        <servlet-class>com.servlet.login.SubmitStudentforTSScourseUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddStaffforTSScourse</servlet-name>
        <servlet-class>com.servlet.login.AddStaffforTSScourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveStaffforTSScourse</servlet-name>
        <servlet-class>com.servlet.login.RemoveStaffforTSScourse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>addProjects</servlet-name>
        <servlet-class>com.servlet.login.addProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeProjects</servlet-name>
        <servlet-class>com.servlet.login.removeProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updateProjects</servlet-name>
        <servlet-class>com.servlet.login.updateProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>submitUpdateProjects</servlet-name>
        <servlet-class>com.servlet.login.submitUpdateProjects</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>getcoursedetails</servlet-name>
        <servlet-class>com.servlet.login.getcoursedetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FogotUserID</servlet-name>
        <servlet-class>com.servlet.login.FogotUserID</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>feedbackEmail</servlet-name>
        <servlet-class>com.servlet.login.feedbackEmail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>JQchangepassword</servlet-name>
        <servlet-class>com.servlet.login.JQchangepassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StaffRegistation_STI</servlet-name>
        <servlet-class>com.servlet.login.StaffRegistation_STI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TSIRegistation_RCI</servlet-name>
        <servlet-class>com.servlet.login.TSIRegistation_RCI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TSSRegistation_TSI</servlet-name>
        <servlet-class>com.servlet.login.TSSRegistation_TSI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TSIRegistation_TSI</servlet-name>
        <servlet-class>com.servlet.login.TSIRegistation_TSI</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RCI_resetMemberPassword</servlet-name>
        <servlet-class>com.servlet.login.RCI_resetMemberPassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sms_student</servlet-name>
        <servlet-class>com.servlet.login.sms_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sms_parent</servlet-name>
        <servlet-class>com.servlet.login.sms_parent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sms_staff</servlet-name>
        <servlet-class>com.servlet.login.sms_staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email_student</servlet-name>
        <servlet-class>com.servlet.login.email_student</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email_parent</servlet-name>
        <servlet-class>com.servlet.login.email_parent</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>email_staff</servlet-name>
        <servlet-class>com.servlet.login.email_staff</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBFileDownloadServlet</servlet-name>
        <servlet-class>com.servlet.login.DBFileDownloadServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <servlet-class>com.servlet.login.FileUploadDBServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>testuploard</servlet-name>
        <servlet-class>com.servlet.login.testuploard</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>uploadFile_all</servlet-name>
        <servlet-class>com.servlet.login.uploadFile_all</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>removeFile_all</servlet-name>
        <servlet-class>com.servlet.login.removeFile_all</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewImageGet</servlet-name>
        <servlet-class>com.servlet.login.ViewImageGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewVedioGet</servlet-name>
        <servlet-class>com.servlet.login.ViewVedioGet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>view_file_list</servlet-name>
        <servlet-class>com.servlet.login.view_file_list</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>downloardblob</servlet-name>
        <servlet-class>com.servlet.login.downloardblob</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_prefect</servlet-name>
        <servlet-class>com.servlet.login.remove_prefect</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Deleete_servise</servlet-name>
        <servlet-class>com.servlet.login.Deleete_servise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>add_ob_servis</servlet-name>
        <servlet-class>com.servlet.login.add_ob_servis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>remove_ob_servis</servlet-name>
        <servlet-class>com.servlet.login.remove_ob_servis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>assign_ob_servis</servlet-name>
        <servlet-class>com.servlet.login.assign_ob_servis</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>deassign_ob_servis</servlet-name>
        <servlet-class>com.servlet.login.deassign_ob_servis</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>mainAccessControler</servlet-name>
        <url-pattern>/mainAccessControler</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminAddUser</servlet-name>
        <url-pattern>/adminAddUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentRegistation</servlet-name>
        <url-pattern>/StudentRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adminSearchUser</servlet-name>
        <url-pattern>/adminSearchUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StudentUpdate</servlet-name>
        <url-pattern>/StudentUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viweStudentProfile</servlet-name>
        <url-pattern>/viweStudentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>searchStudent</servlet-name>
        <url-pattern>/searchStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegistation</servlet-name>
        <url-pattern>/StaffRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOut</servlet-name>
        <url-pattern>/LogOut</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FogetPassword</servlet-name>
        <url-pattern>/FogetPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePassword</servlet-name>
        <url-pattern>/ChangePassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RCI_Registation</servlet-name>
        <url-pattern>/RCI_Registation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmRegistation</servlet-name>
        <url-pattern>/AdmRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OBRegistation</servlet-name>
        <url-pattern>/OBRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PrfRegistation</servlet-name>
        <url-pattern>/PrfRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TssRegistation</servlet-name>
        <url-pattern>/TssRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AccRegistation</servlet-name>
        <url-pattern>/AccRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PubRegisrarion</servlet-name>
        <url-pattern>/PubRegisrarion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PbiRegistation</servlet-name>
        <url-pattern>/PbiRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TsiRegistation</servlet-name>
        <url-pattern>/TsiRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EbiRegistation</servlet-name>
        <url-pattern>/EbiRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OpiRegistation</servlet-name>
        <url-pattern>/OpiRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StiRegistation</servlet-name>
        <url-pattern>/StiRegistation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmResetMemberPassword</servlet-name>
        <url-pattern>/AdmResetMemberPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdmDeleteMember</servlet-name>
        <url-pattern>/AdmDeleteMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viweParentProfile</servlet-name>
        <url-pattern>/viweParentProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viweStaffProfile</servlet-name>
        <url-pattern>/viweStaffProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viweOldBoyProfile</servlet-name>
        <url-pattern>/viweOldBoyProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viwePrefectProfile</servlet-name>
        <url-pattern>/viwePrefectProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viweTSSProfile</servlet-name>
        <url-pattern>/viweTSSProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viweOPSProfile</servlet-name>
        <url-pattern>/viweOPSProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStudentData</servlet-name>
        <url-pattern>/updateStudentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>admUpdateUser</servlet-name>
        <url-pattern>/admUpdateUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUpdateStudent</servlet-name>
        <url-pattern>/SubmitUpdateStudent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateParentData</servlet-name>
        <url-pattern>/updateParentData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUpdateStaff</servlet-name>
        <url-pattern>/SubmitUpdateStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUpdateParent</servlet-name>
        <url-pattern>/SubmitUpdateParent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUpdateOldBoy</servlet-name>
        <url-pattern>/SubmitUpdateOldBoy</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViwePrfProfile</servlet-name>
        <url-pattern>/ViwePrfProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viweTSStuProfile</servlet-name>
        <url-pattern>/viweTSStuProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viweOUProfile</servlet-name>
        <url-pattern>/viweOUProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addExam</servlet-name>
        <url-pattern>/addExam</url-pattern>
    </servlet-mapping>
    <!-- <servlet-mapping>
        <servlet-name>addExam</servlet-name>
        <url-pattern>/addExam</url-pattern>
    </servlet-mapping> -->
    <servlet-mapping>
        <servlet-name>UpdateExam</servlet-name>
        <url-pattern>/UpdateExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUpdateExam</servlet-name>
        <url-pattern>/SubmitUpdateExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExam</servlet-name>
        <url-pattern>/DeleteExam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addExamResult</servlet-name>
        <url-pattern>/addExamResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateExamResults</servlet-name>
        <url-pattern>/UpdateExamResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUpdateExamResult</servlet-name>
        <url-pattern>/SubmitUpdateExamResult</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteExamResults</servlet-name>
        <url-pattern>/DeleteExamResults</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addService</servlet-name>
        <url-pattern>/addService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServiceForStaff</servlet-name>
        <url-pattern>/addServiceForStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addServiceForPrefect</servlet-name>
        <url-pattern>/addServiceForPrefect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deleteService</servlet-name>
        <url-pattern>/deleteService</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServiceForPrefect</servlet-name>
        <url-pattern>/RemoveServiceForPrefect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveServiceForStaff</servlet-name>
        <url-pattern>/RemoveServiceForStaff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addPrfBehaviorReport</servlet-name>
        <url-pattern>/addPrfBehaviorReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemovePrfBehaviorReport</servlet-name>
        <url-pattern>/RemovePrfBehaviorReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addStudentBehaviorReport</servlet-name>
        <url-pattern>/addStudentBehaviorReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStudentBehaviorReport</servlet-name>
        <url-pattern>/RemoveStudentBehaviorReport</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addClassInfor</servlet-name>
        <url-pattern>/addClassInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeClassInfor</servlet-name>
        <url-pattern>/removeClassInfor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addcomitty</servlet-name>
        <url-pattern>/addcomitty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removecomitty</servlet-name>
        <url-pattern>/removecomitty</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComittyMember</servlet-name>
        <url-pattern>/addComittyMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeComittyMember</servlet-name>
        <url-pattern>/removeComittyMember</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addComittyDissison</servlet-name>
        <url-pattern>/addComittyDissison</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeComittyDissison</servlet-name>
        <url-pattern>/removeComittyDissison</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addCourse</servlet-name>
        <url-pattern>/addCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeCourse</servlet-name>
        <url-pattern>/removeCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateCourse</servlet-name>
        <url-pattern>/updateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitUpdateCourse</servlet-name>
        <url-pattern>/SubmitUpdateCourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStudentforTSScourse</servlet-name>
        <url-pattern>/AddStudentforTSScourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeStudentforTSScourse</servlet-name>
        <url-pattern>/removeStudentforTSScourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateStudentforTSScourse</servlet-name>
        <url-pattern>/updateStudentforTSScourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SubmitStudentforTSScourseUpdate</servlet-name>
        <url-pattern>/SubmitStudentforTSScourseUpdate</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddStaffforTSScourse</servlet-name>
        <url-pattern>/AddStaffforTSScourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveStaffforTSScourse</servlet-name>
        <url-pattern>/RemoveStaffforTSScourse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>addProjects</servlet-name>
        <url-pattern>/addProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeProjects</servlet-name>
        <url-pattern>/removeProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updateProjects</servlet-name>
        <url-pattern>/updateProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>submitUpdateProjects</servlet-name>
        <url-pattern>/submitUpdateProjects</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>getcoursedetails</servlet-name>
        <url-pattern>/getcoursedetails</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FogotUserID</servlet-name>
        <url-pattern>/FogotUserID</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>feedbackEmail</servlet-name>
        <url-pattern>/feedbackEmail</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>JQchangepassword</servlet-name>
        <url-pattern>/JQchangepassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StaffRegistation_STI</servlet-name>
        <url-pattern>/StaffRegistation_STI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TSIRegistation_RCI</servlet-name>
        <url-pattern>/TSIRegistation_RCI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TSSRegistation_TSI</servlet-name>
        <url-pattern>/TSSRegistation_TSI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TSIRegistation_TSI</servlet-name>
        <url-pattern>/TSIRegistation_TSI</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RCI_resetMemberPassword</servlet-name>
        <url-pattern>/RCI_resetMemberPassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sms_student</servlet-name>
        <url-pattern>/sms_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sms_parent</servlet-name>
        <url-pattern>/sms_parent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sms_staff</servlet-name>
        <url-pattern>/sms_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email_student</servlet-name>
        <url-pattern>/email_student</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email_parent</servlet-name>
        <url-pattern>/email_parent</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>email_staff</servlet-name>
        <url-pattern>/email_staff</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBFileDownloadServlet</servlet-name>
        <url-pattern>/DBFileDownloadServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadDBServlet</servlet-name>
        <url-pattern>/FileUploadDBServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>testuploard</servlet-name>
        <url-pattern>/testuploard</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>uploadFile_all</servlet-name>
        <url-pattern>/uploadFile_all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>removeFile_all</servlet-name>
        <url-pattern>/removeFile_all</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewImageGet</servlet-name>
        <url-pattern>/ViewImageGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewVedioGet</servlet-name>
        <url-pattern>/ViewVedioGet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>view_file_list</servlet-name>
        <url-pattern>/view_file_list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>downloardblob</servlet-name>
        <url-pattern>/downloardblob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_prefect</servlet-name>
        <url-pattern>/remove_prefect</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Deleete_servise</servlet-name>
        <url-pattern>/Deleete_servise</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>add_ob_servis</servlet-name>
        <url-pattern>/add_ob_servis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>remove_ob_servis</servlet-name>
        <url-pattern>/remove_ob_servis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assign_ob_servis</servlet-name>
        <url-pattern>/assign_ob_servis</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>deassign_ob_servis</servlet-name>
        <url-pattern>/deassign_ob_servis</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
