/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 14, 2015, 8:52:09 PM
    Author     : Mr.Mic
*/


#container {
    width: 1320px ;
    margin-left: auto ;
    margin-right: auto ;
    background-color:#0C6F96;

}
#header {
    background-color:#0E5073;//dark blue
    color:white;
    border-radius: 10px;
    padding:5px;

}

#nav {
    line-height:30px;
    margin: 7px; 
    float:left;
    background-color:#d4dadc;//ash
    border-radius: 10px;
    height:460px;
    width:265px;
    float:left;
    padding:5px;
    border-radius: 10px;
}

#section {
    width:990px;
    margin: 7px; 
    float:left;
    border-radius: 10px;
    height:450px;
    float:left;
    padding:10px;
    background-color:#d4dadc;//ash
}
#content_container
{ width: 1000px;
  margin: 20px 10px 0 0;
  float: left;}
#sidebar {

    margin: 7px; 
    float:left;
    background-color:#d4dadc;//ash
    border-radius: 10px;
    height:200px;
    width:200px;
    float:left;
    padding:5px; 	      

}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
    border-radius: 10px;
}
//>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>
/* These styles are related to popup menu. */

/* These styles just pretty up the page a bit. */
body {
    font: 62.5%/1.2 Arial, Helvetica, sans-serif;
   // background-color: #eee; 
}
#wrap {
    font-size: 1.1em;
    width: 950px;
    padding: 0px;
    margin: 0 0; 
    background-color: #d4dadc;//ash
    position: relative; }

/* These styles create the dropdown menus. */
#navbar {
    margin: 0;
    padding: 0;
    height: 1em; }
#navbar li {
    list-style: none;
    float: left; }
#navbar li a {
    display: block;
    padding: 3px 8px;
    background-color: #254a6e;
    color: #fff;
    text-decoration: none; }
#navbar li ul {
    display: none; 
    width: 10em; /* Width to help Opera out */
    background-color: #69f;
}
#navbar li:hover ul, #navbar li.hover ul {
    display: block;
    position: absolute;
    margin: 0;
    padding: 0; 
    opacity: 0.8}
#navbar li:hover li, #navbar li.hover li {
    float: none; }
#navbar li:hover li a, #navbar li.hover li a {
    background-color: #69f;
    border-bottom: 1px solid #fff;
    color: #000; }
#navbar li li a:hover {
    background-color: #8db3ff; }
